<app-navbar></app-navbar>

<div class="container px-4 mx-auto py-5">
    <h2 class="pb-2 border-bottom">Explorar</h2>

    <div class="d-flex flex-xxl-row flex-sm-column  flex-wrap">
        <div class="input-group m-2 flex-nowrap" style="min-width: 115.7px; width: 20vw;">
            <span class="input-group-text">Nombre</span>
            <input [(ngModel)]="searchTuristicCenterName" type="text" class="form-control">
        </div>

        <div class="input-group m-2 flex-nowrap" style="min-width: 115.7px; width: 20vw;">
            <span class="input-group-text">Departamento</span>
            <select [(ngModel)]="searchTuristicCenterDepartment" class="form-select">
                <option value="">Todos</option>
                <option *ngFor="let department of departments" value="{{ department.name }}">{{ department.name }}
                </option>
            </select>
        </div>

        <div class="input-group m-2 flex-nowrap" style="min-width: 115.7px; width: 20vw;">
            <span class="input-group-text">Categoría</span>
            <select [(ngModel)]="searchTuristicCenterCategory" class="form-select">
                <option value="">Todas</option>
                <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}
                </option>
            </select>
        </div>
    </div>



    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 m-0">
        <div *ngFor="let turisticCenter of turisticsCenters 
            | searchTuristicCenterName: searchTuristicCenterName 
            | searchTuristicCenterDepartment: searchTuristicCenterDepartment 
            | searchTuristicCenterCategory: searchTuristicCenterCategory" class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">

                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <div>
                        <img *ngIf="turisticCenter.hasOwnProperty('image') == false"
                            src="../../../../assets/dummy_400x200_ffffff_cccccc_no-image.png" class="img-fluid rounded"
                            style="max-height: 200px;">
                        <img *ngIf="turisticCenter.image" src="{{ uri + turisticCenter.image }}" crossorigin="anonymous"
                            class="img-fluid rounded" style="max-height: 200px;">
                    </div>
                    <h2 class="pt-3 display-6 lh-1 fw-bold mb-3">{{ turisticCenter.name }}</h2>
                    <ul class="d-flex list-unstyled mt-auto mb-1">
                        <li class="d-flex align-items-center">
                            Precio: Q{{ turisticCenter.price }}
                        </li>
                    </ul>
                    <ul class="d-flex list-unstyled mb-0">
                        <li class="d-flex align-items-center">
                            {{ turisticCenter.description }}
                        </li>
                    </ul>
                    <hr>
                    <ul class="d-flex list-unstyled">
                        <li class="d-flex align-items-center me-3">
                            <small>Departamento: {{ turisticCenter.department.name }}</small>
                        </li>
                    </ul>
                    <ul class="d-flex list-unstyled">
                        <li class="d-flex align-items-center">
                            <small>Categoría: {{ turisticCenter.category.name }}</small>
                        </li>
                    </ul>
                    <ul class="d-flex list-unstyled">
                        <li class="d-flex align-items-center me-3">
                            <small>Por: {{ turisticCenter.user.name + ' ' + turisticCenter.user.surname }}</small>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-outline-light mb-4">Agregar al viaje</button>
                </div>
            </div>
        </div>
    </div>
</div>