<app-navbar></app-navbar>

<div class="text-center m-3">
    <!-- <button (click)="toggleSearchHotels()" class="btn btn-secondary m-1">
        {{ labelFilter }}
    </button> -->

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAddTuristicCenter">Agregar centro
        turístico</button>

    <div class="input-group mx-auto m-2" style="min-width: 115.7px; width: 20vw;">
        <span class="input-group-text">Nombre</span>
        <input [(ngModel)]="searchTuristicCenterName" type="text" class="form-control">
    </div>

    <div class="input-group mx-auto m-2" style="min-width: 115.7px; width: 20vw;">
        <span class="input-group-text">Departamento</span>
        <select [(ngModel)]="searchTuristicCenterDepartment" class="form-select">
            <option value="">Todos</option>
            <option *ngFor="let department of departments" value="{{ department.name }}">{{ department.name }}
            </option>
        </select>
    </div>

</div>

<hr>

<div class="d-flex flex-column">
    <div *ngFor="let turisticCenter of turisticsCenters | searchTuristicCenterName: searchTuristicCenterName | searchTuristicCenterDepartment:searchTuristicCenterDepartment"
        class="card mb-3 mx-auto" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img *ngIf="turisticCenter.hasOwnProperty('image') == false"
                    src="../../../../assets/dummy_2000x1500_ffffff_cccccc_-no-image.jpg" class="img-fluid rounded">
                <img *ngIf="turisticCenter.image" src="{{ uri + turisticCenter.image }}" crossorigin="anonymous"
                    class="img-fluid rounded" style="height: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">{{ turisticCenter.name }}</h5>
                    <div class="card-subtitle mb-1 text-muted fst-italic">Popularidad: {{ turisticCenter.popularity }}
                    </div>
                    <div class="card-subtitle mb-1 text-muted fst-italic">Precio: Q{{ turisticCenter.price }}</div>
                    <div class="card-subtitle mb-1 text-muted fst-italic">Enlace: <a href="{{ turisticCenter.link }}"
                            target="_blank">{{ turisticCenter.link }}</a>
                    </div>
                    <div class="card-text">Departamento: {{ turisticCenter.department.name }}</div>
                    <div class="card-text">Categoría: {{ turisticCenter.category.name }}</div>

                    <hr>

                    <div class="card-text">Descripción: {{ turisticCenter.description }}</div>

                    <hr>

                    <div class="d-flex justify-content-center flex-wrap m-1">
                        <button (click)="getTuristicCenter(turisticCenter._id)" class="btn btn-warning m-1 px-4"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetTuristicCenter"
                            aria-controls="offcanvasGetTuristicCenter">Editar</button>
                        <button (click)="deleteTuristicCenter(turisticCenter._id)"
                            class="btn btn-danger m-1 px-4">Eliminar</button>
                        <button (click)="getIdTuristicCenter(turisticCenter._id)" class="btn btn-primary m-1 px-4"
                            data-bs-toggle="modal" data-bs-target="#modalUploadImage">Cambiar foto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal upload image-->
<div class="modal fade" id="modalUploadImage" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar imagen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="image" class="form-label">Imagen: </label>
                    <input (change)="filesChange($event)" type="file" class="form-control" id="image">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
                <button (click)="uploadImage()" type="button" data-bs-dismiss="modal"
                    class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas get turistic center-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetTuristicCenter">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Editar centro turístico</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form (ngSubmit)="updateTuristicCenter()" *ngIf="turisticCenterGetData">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input [(ngModel)]="turisticCenterGetData.name" name="name" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input [(ngModel)]="turisticCenterGetData.description" name="description" type="text"
                    class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input [(ngModel)]="turisticCenterGetData.price" name="price" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Enlace</label>
                <input [(ngModel)]="turisticCenterGetData.link" name="link" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Departamento</label>
                <select [(ngModel)]="turisticCenterGetData.department" name="department" class="form-select">
                    <option *ngFor="let department of departments" value="{{ department._id }}">{{ department.name }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Categoría</label>
                <select [(ngModel)]="turisticCenterGetData.category" name="category" class="form-select">
                    <option *ngFor="let category of categories" value="{{ category._id }}">{{ category.name }}
                    </option>
                </select>
            </div>
            <div class="modal-footer px-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Descartar
                    cambios</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">Actualizar
                    cambios</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal add turistic center -->
<div class="modal fade" id="modalAddTuristicCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar centro turístico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addTuristicCenter(addTuristicCenterForm)" #addTuristicCenterForm="ngForm">
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input [(ngModel)]="turisticCenter.name" name="name" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Descripción</label>
                        <textarea [(ngModel)]="turisticCenter.description" name="description" class="form-control"
                            style="height: 50px"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Precio</label>
                        <input [(ngModel)]="turisticCenter.price" name="price" type="number" class="form-control"
                            min="0" step="1">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Enlace</label>
                        <input [(ngModel)]="turisticCenter.link" name="link" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Departamento</label>
                        <select [(ngModel)]="turisticCenter.department" name="role" class="form-select">
                            <option *ngFor="let department of departments" value="{{ department._id }}">{{
                                department.name }}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categoría</label>
                        <select [(ngModel)]="turisticCenter.category" name="role" class="form-select">
                            <option *ngFor="let category of categories" value="{{ category._id }}">{{ category.name }}
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar
                            cambios</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>